<!DOCTYPE html>
<html>
  <head>
    <title>NetflixClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="NextFlix" />
     <meta property='og:image' content="<%= image_url('netflix_background.jpg') %>"/>
     <meta property="og:description"
       content="Nextflix, a Netflix clone, is a streaming app that gives you access to the latest and greatest movies from the comfort of your home with a simple click of a button."
     />
     <meta property="og:url"
       content="https://nextflixs.herokuapp.com"
     />

    <script type="text/javascript">
      window.netflix_logo = "<%= image_url('netflix_logo.png') %>";
      window.John_Wick_3_logo = "<%= image_url('John_Wick_3_Logo.png') %>";
    </script>
    
    <script>
      window.addEventListener('scroll', () => {
        const scrolled = window.scrollY;
        if (scrolled > 10) {
          const element = document.getElementById('browser-id');
          element.classList.add('browser-header-two');
          element.classList.remove('browser-header');
        } 
        else if (scrolled === 0) {
          const element = document.getElementById('browser-id');
          element.classList.add('browser-header');
          element.classList.remove('browser-header-two');
        }
      });
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user  %>
      <script> 
        window.currentUser = {
          'id': <%= current_user.id %>,
          'username': '<%= current_user.username %>',
          'email': '<%= current_user.email %>'
        };
      </script>
      <% end %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
