<!DOCTYPE html>
<html>
  <head>
    <title>NetflixClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="NextFlix" />
     <meta property='og:image' content="<%= image_url('project_pic.png') %>"/>
     <meta property="og:description"
       content="Nextflix, a Netflix clone, is a streaming app that gives you access to the latest and greatest movies from the comfort of your home with a simple click of a button."
     />
     <meta property="og:url"
       content="https://nextflixs.herokuapp.com"
     />

     <%= favicon_link_tag asset_path('netflix_favicon.png') %>

      <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" /> 
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />

    
    <script type="text/javascript">
      window.netflix_logo = "<%= image_url('netflix_logo.png') %>";
      window.John_Wick_3_logo = "<%= image_url('John_Wick_3_Logo.png') %>";
      window.john_wick = "<%= image_url('john_wick.jpg') %>"
      window.blacklist = "<%= image_url('blacklist.webp') %>"
      window.emily_in_paris = "<%= image_url('emily_in_paris.jpg') %>"
      window.hasta_los_dientes = "<%= image_url('hasta_los_dientes.webp') %>"
      window.my_next_guest = "<%= image_url('my_next_guest.jpg') %>"
      window.over_the_moon = "<%= image_url('over_the_moon.jpg') %>"
      window.queens_gambit = "<%= image_url('queens_gambit.jpg') %>"
      window.rebecca = "<%= image_url('rebecca.jpg') %>"

    </script>
    
    <script>
      window.addEventListener('scroll', () => {
        const scrolled = window.scrollY;
        if (scrolled > 10) {
          const element = document.getElementById('browser-id');
          element.classList.add('browser-header-two');
          element.classList.remove('browser-header');
        } 
        else if (scrolled === 0) {
          const element = document.getElementById('browser-id');
          element.classList.add('browser-header');
          element.classList.remove('browser-header-two');
        }
      });
    </script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user  %>
      <script> 
        window.currentUser = {
          'id': <%= current_user.id %>,
          'username': '<%= current_user.username %>',
          'email': '<%= current_user.email %>'
        };
      </script>
      <% end %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
